{% extends 'base.html' %}

{% block title %} Contratista {{ contratista }}{% endblock %}
{% block content %}
    <a type="button" class="btn btn-primary" href="{{request.META.HTTP_REFERER}}">Volver</a>
    <hr>
    <div class="card">
        <div class="card-header">
            <b>Contratista {{ contratista }}</b>
        </div>
        <div class="card-body">
            <b>Identificación:</b> {{ contratista.identificacion }}
            <br>
            <b>Email:</b> {{ contratista.email }}

        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Contrataciones</h2>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <th>Proyecto</th>
            <th>Orden de compra</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Presupuesto adjudicado</th>
            <th>Presupuesto consumido</th>
            <th>Horas contratadas</th>
            <th>Horas consumidas</th>
            </thead>
            {% for contratacion in contrataciones %}
                <tr>
                    <td>
                        <a href="{% url 'proyecto-detail' pk=contratacion.pk %}"> {{ contratacion.proyecto }}</a>
                    </td>
                    <td>
                        <a href="{% url 'contratacion-detail' pk=contratacion.pk %}">{{ contratacion.orden_compra }}</a>
                    </td>
                    <td>
                        {{ contratacion.fecha_inicio }}
                    </td>
                    <td>
                        {% if contratacion.fecha_fin %}
                            <td>{{ contratacion.fecha_fin }}</td>
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>
                        {{ contratacion.get_presupuesto_adjudicado }}
                    </td>
                    <td>
                        {{ contratacion.get_presupuesto_consumido }}
                    </td>
                    <td>
                        {{ contratacion.horas_contratadas }}
                    </td>
                    <td>
                        {{ contratacion.horas_consumidas }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <hr>

{% endblock %}
