{% extends 'base.html' %}

{% block title %} Contratacion {{ contratacion.contrato }}{% endblock %}
{% block content %}
    <a type="button" class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Volver</a>
    <hr>
    <div class="card">
        <div class="card-header">
            <b>Contratación {{ contratacion.orden_compra }}</b>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-6">
                        <b>Proyecto:</b> <a
                            href="{% url 'proyecto-detail' pk=contratacion.proyecto.pk %}">{{ contratacion.proyecto }} </a>
                        <br>
                        <b>Contrato:</b> {{ contratacion.contrato }}
                        <br>
                        <b>Orden de compra:</b> {{ contratacion.orden_compra }}
                        <br>
                        <b>Contratista:</b> <a
                            href="{% url 'contratista-detail' pk=contratacion.contratista.pk %}"> {{ contratacion.contratista }}</a>
                        <br>
                        <b>Tipo:</b> {{ contratacion.get_tipo_display }}
                        <br>
                        <b>Rol:</b> {{ contratacion.get_rol_display }}
                    </div>
                    <div class="col-6">
                        <b>Fecha de inicio:</b> {{ contratacion.fecha_inicio }}
                        <br>
                        <b>Fecha de fin:</b>
                        {% if contratacion.fecha_fin %}
                            {{ contratacion.fecha_fin }}
                        {% else %}
                            - - -
                        {% endif %}
                        <br>
                        <b>Horas contratadas:</b> {{ contratacion.horas_contratadas }}
                        <br>
                        <b>Horas consumidas:</b> {{ contratacion.horas_consumidas }}
                        <br>
                        <b>Presupuesto adjudicado:</b> {{ contratacion.get_presupuesto_adjudicado }}
                        <br>
                        <b>Presupuesto consumido:</b> {{ contratacion.get_presupuesto_consumido }}

                    </div>
                </div>
            </div>


        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Productos</h2>
    <a type="button" class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Agregar</a>
    <br>
    <br>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <th>Número</th>
            <th>Descripción</th>
            <th>Horas estimadas</th>
            <th>Horas trabajadas</th>
            <th>Modificada</th>
            <th>Pagada</th>
            </thead>
            {% for producto in productos %}
                <tr>
                    <td>
                        <a href="{% url 'producto-detail' pk=producto.pk %}"> {{ producto.numero }}</a>
                    </td>
                    <td>
                        {{ producto.descripcion }}
                    </td>
                    <td>
                        {{ producto.horas_estimadas }}
                    </td>
                    <td>
                        {{ producto.horas_utilizadas }}
                    </td>
                    <td>
                        {% if producto.modificado %}
                            <td> Si</td>
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if producto.pagado %}
                            <td> Si</td>
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
            {% if productos.has_other_pages %}
                <ul class="pagination">
                    {% if productos.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ productos.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled page-link"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in productos.paginator.page_range %}
                        {% if productos.number == i %}
                            <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if productos.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ productos.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled page-link"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}

    </div>
    <hr>

{% endblock %}
