{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="h1">Incidencias</h1>
        <table class="table table-bordered text-center">
            <thead class="table-dark">
            <tr>
                <th>Número</th>
                <th>Proyecto</th>
                <th>Estado</th>
                <th>Horas estimadas</th>
                <th>Horas trabajadas</th>
                <th>Cartel</th>
            </tr>
            </thead>
            <tbody>
            {% for incidencia in incidencias %}
                <tr>
                    <td><a href="{% url 'incidencia-detail' pk=incidencia.pk %}"> {{ incidencia.codigo }}</a></td>
                    <td>{{ incidencia.sprint_inicio.proyecto }}</td>
                    <td>{{ incidencia.get_estado_display }}</td>
                    <td>{{ incidencia.horas_estimadas }}</td>
                    <td>{{ incidencia.horas_trabajadas }}</td>
                    <td>{{ incidencia.cartel }}</td>

                </tr>

            {% endfor %}
            </tbody>


        </table>

    </div>


{% endblock %}