{% extends 'base.html' %}


{% block title %}Incidencia {{ incidencia.codigo }}{% endblock %}
{% block content %}
    <a type="button" class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Volver</a>
    <hr>
    <div class="card">

        <div class="card-header">
            <b>Incidencia:</b> {{ incidencia.codigo }} - {{ incidencia.descripcion }}
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row no-gutters>">
                    <div class="col-6 ">
                        <b>Estado: </b> {{ incidencia.get_estado_display }}
                        <br/>
                        <b>Tipo:</b>{{ incidencia.get_tipo_display }}
                        <br/>
                        <b>Producto: </b> {{ incidencia.producto }}
                        <br/>
                        <b>Padre:</b>
                        {% if incidencia.padre is None %}
                            - - -
                        {% else %}
                            <a href="{% url 'incidencia-detail' pk=incidencia.padre.pk %}"> {{ incidencia.padre }} </a>
                        {% endif %}
                        <br/>
                        <b>Reasignada: </b>
                        {% if incidencia.reasignada %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                        <br/>
                    </div>
                    <div class="col-6 ">
                        <b>Horas estimadas:</b> {{ incidencia.horas_estimadas }}
                        <br/>
                        <b>Horas trabajadas:</b> {{ incidencia.horas_trabajadas }}
                        <br/>
                        <b>Horas por pagar:</b> {{ incidencia.horas_por_pagar }}
                        <br/>
                        <b>Sprint de inicio y fin:</b> {{ incidencia.sprint_inicio }} -
                        {% if incidencia.sprint_fin is None %}
                            PA
                        {% else %}
                            {{ incidencia.sprint_fin }}
                        {% endif %}


                        <br/>
                        <b>Asignada:</b> {{ incidencia.producto.contratacion.contratista }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Observaciones</h2>
        <table class="table table-bordered text-center">
            <thead class="table-dark">
            <th>Fecha</th>
            <th>Observación</th>
            <th>Planificación</th>
            </thead>
            <tbody>
            {% for observacion in observaciones %}
                <tr>
                    <td>{{ observacion.fecha }}</td>
                    <td>{{ observacion.descripcion }}</td>
                    <td>
                        <a href="{% url 'planificacion-detail' pk=observacion.planificacion.pk %}"> {{ observacion.planificacion.sprint }}</a>
                    </td>
                <tr>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <a type="button" class="btn btn-danger " href="{% url 'incidencia-detail' incidencia.pk %}">Borrar</a>
    <a type="button" class="btn btn-success" href="{% url 'incidencia-detail' incidencia.pk %}">Editar</a>
{% endblock %}


