{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h4>Hola {{ user.username }}!</h4>

        <br>
        Incidencias en proceso: {{ activas }}
        <br>
        Incidencias terminadas: {{ hechas }}

        <br>
        <br>
        <b>Sprints activos</b>
        <br>
        <ul>
            {% for sprint in sprints %}
                <li><a href="{% url 'planificacion-detail' pk=sprint.pk %}">{{ sprint }}</a></li>
            {% endfor %}
        </ul>


    {% endif %}
{% endblock %}