{% extends 'base.html' %}

{% block title %}Planificación {{ planificacion.codigo }}{% endblock %}
{% block content %}
    <a type="button" class="btn btn-primary" href="{% url 'planificacion-list' %}">Volver</a>
    <hr>


    <div class="card">

        <div class="card-header">
            <b>Planificación:</b> Sprint {{ sprint.numero }}
            <br>
            <b>Inicio:</b> {{ sprint.fecha_inicio }}
            <br>
            <b>Fin:</b> {{ sprint.fecha_fin }}
            <br>
            <b>Revisión:</b> {{ sprint.fecha_revision }}
        </div>


    </div>
    <hr>
    <div class="container">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <th>Incidencia</th>
            <th>Estado inicio</th>
            <th>Estado fin</th>
            <th>Asignado</th>
            <th>Horas asignadas</th>
            <th>Horas trabajadas</th>
            <th>Fecha asignada</th>
            <th>Observaciones</th>
            </thead>

            {% for plani in planificaciones %}
                <tr>
                    <td>
                        <a href="{% url 'incidencia-detail' pk=plani.incidencia.pk %}"> {{ plani.incidencia.codigo }}</a>
                    </td>
                    <td>{{ plani.get_estado_inicio_display }}</td>
                    {% if plani.estado_fin %}
                        <td>{{ plani.get_estado_fin_display }}</td>
                    {% else %}

                        <td>---</td>
                    {% endif %}

                    <td>{{ plani.asignado }}</td>
                    <td>{{ plani.incidencia.horas_estimadas }}</td>
                    <td>{{ plani.incidencia.horas_trabajadas }}</td>
                    <td>{{ plani.fecha | date:"d-M-Y" }}</td>
                    {% if plani.observacion_set.all %}

                        <td> {% for o in plani.observacion_set.all %}

                            <li>{{ o.descripcion }} ({{ o.fecha | date:"d-M-Y" }})</li>

                        {% endfor %}
                        </td>
                    {% else %}
                        <td>---</td>

                    {% endif %}
                </tr>
            {% endfor %}

        </table>


    </div>
    <hr>

{% endblock %}
