{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="h1">Planificaciones</h1>
        <table class="table table-bordered text-center ">
            <thead class="table-dark">
            <tr>
                <th>Sprint</th>
                <th>Proyecto</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
            </tr>
            </thead>
            <tbody>
            {% for sprint in sprints %}
                <tr>
                    <td><a href="{% url 'planificacion-detail' pk=sprint.pk %}">{{ sprint.numero }}</a>
                    </td>
                    <td>
                        <a href="#k %}">   {{ sprint.proyecto }}</a>
                    </td>
                    <td>{{ sprint.fecha_inicio }}</td>
                    <td>
                        {{ sprint.fecha_fin }}
                    </td>

                </tr>

            {% endfor %}
            </tbody>


        </table>

    </div>


{% endblock %}