{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="h1">Planificaciones {{ proyecto }}</h1>
        <table class="table table-bordered text-center ">
            <thead class="table-dark">
            <tr>
                <th>Sprint</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Fecha de revisión</th>
            </tr>
            </thead>
            <tbody>
            {% for planificacion in planificaciones %}
                <tr>
                    <td>
                        {{ planificacion.sprint.numero }}
                    </td>
                    <td>
                        {{ planificacion.sprint.fecha_inicio }}
                    </td>
                    <td>
                        {{ planificacion.sprint.fecha_fin }}
                    </td>
                    <td>
                        {{ planificacion.sprint.fecha_revision }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}