{% extends 'base.html' %}

{% block title %} Producto {{ producto }}{% endblock %}
{% block content %}
    <a type="button" class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Volver</a>
    <hr>
    <div class="card">
        <div class="card-header">
            <b>Producto {{ producto.numero }}</b>
        </div>
        <div class="card-body">
            <b>Contratación:</b> {{ producto.contratacion }}
            <br>
            <b>Horas estimadas:</b> {{ producto.horas_estimadas }}
            <br>
            <b>Horas utilizadas:</b> {{ producto.horas_utilizadas }}
            <br>
            <b>Descripción:</b> {{ producto.descripcion }}

            <br>
            <b>Modificado:</b>
            {% if producto.modificado %}
                Sí
            {% else %}
                No
            {% endif %}
            <br>
            <b>Padre:</b>
            {% if producto.padre %}
                {{ producto.padre }}
            {% else %}
                Ninguno
            {% endif %}
            <br>

        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Incidencias</h2>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <th>Código</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Horas contratadas</th>
            <th>Horas trabajadas</th>
            <th>Horas a pagar</th>
            <th>Sprint de inicio</th>
            <th>Sprint de fin</th>
            </thead>
            {% for incidencia in incidencias %}
                <tr>
                    <td>
                        <a href="{% url 'incidencia-detail' pk=incidencia.pk %}"> {{ incidencia.codigo }}</a>
                    </td>
                    <td>
                        {{ incidencia.descripcion }}
                    </td>
                    <td>
                        {{ incidencia.estado }}
                    </td>
                    <td>
                        {{ incidencia.horas_estimadas }}
                    </td>
                    <td>
                        {{ incidencia.horas_trabajadas }}
                    </td>
                    <td>
                        {{ incidencia.horas_por_pagar }}
                    </td>
                    <td>
                        {% if incidencia.sprint_inicio %}
                            {{ incidencia.sprint_inicio }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>
                        {% if incidencia.sprint_fin %}
                            {{ incidencia.sprint_fin }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>


                </tr>
            {% endfor %}
        </table>
        {% if incidencias.has_other_pages %}
            <ul class="pagination">
                {% if incidencias.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ incidencias.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled page-link"><span>&laquo;</span></li>
                {% endif %}
                {% for i in incidencias.paginator.page_range %}
                    {% if incidencias.number == i %}
                        <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if incidencias.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ incidencias.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled page-link"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    <hr>

{% endblock %}
