{% extends 'base.html' %}

{% block title %}Proyecto {{ proyecto.codigo }}{% endblock %}
{% block content %}
    <a type="button" class="btn btn-primary" href="{{request.META.HTTP_REFERER}}">Volver</a>
    <hr>
    <div class="card">
        <div class="card-header">
            <b>Proyecto:</b> {{ proyecto.codigo }}
        </div>
        <div class="card-body">
            <p><b>Nombre: </b>{{ proyecto.nombre }} </p>
            <p><b>Descripción: </b>{{ proyecto.descripcion }} </p>
        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Contrataciones</h2>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <th>Contratación</th>
            <th>Contratista</th>
            <th>Orden de compra</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            </thead>
            {% for contratacion in contrataciones %}
                <tr>
                    <td>
                        <a href="{% url 'contratacion-detail' pk=contratacion.pk %}"> {{ contratacion.contrato }}</a>
                    </td>
                    <td>
                        <a href="{% url 'contratista-detail' pk=contratacion.pk %}"> {{ contratacion.contratista }}</a>
                    </td>
                    <td>
                        {{ contratacion.orden_compra }}
                    </td>
                    <td>
                        {{ contratacion.fecha_inicio }}
                    </td>
                    <td>
                        {% if contratacion.fecha_fin %}
                            <td>{{ contratacion.fecha_fin }}</td>
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container">
        <h2>Planificaciones</h2>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <th>Número</th>
            <th>Total incidencias</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            </thead>
            {% for sprint in sprints %}
                <tr>
                    <td>
                        <a href="{% url 'planificacion-detail' pk=sprint.pk %}"> {{ sprint }}</a>
                    </td>
                    <td>
                        <a href="{% url 'contratista-detail' pk=sprint.pk %}"> {{ sprint }}</a>
                    </td>
                    <td>
                        {{ sprint.fecha_inicio }}
                    </td>
                    <td>
                        {% if sprint.fecha_fin %}
                            {{ sprint.fecha_fin }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
    <a type="button" class="btn btn-danger " href="{% url 'proyecto-detail' proyecto.pk %}">Borrar</a>
    <a type="button" class="btn btn-success" href="{% url 'proyecto-detail' proyecto.pk %}">Editar</a>

{% endblock %}


